<html>

  <div class="sidenav">
    <div class="container">
      <div class="img_container"> 
          <span id="r-title"> R</span> <span class="align-text-bottom" id ="two-title">2</span>
      </div>
    </div>
    <div class="container">
      <a> <%= link_to "Home", home_path %></a>
      <a> <%= link_to "Browsing Search", browsingsearch_path %></a>
      <a> <%= link_to "Advanced Search", advancedsearch_path %></a>
      <a> <%= link_to "Log out", logout_path, method: :delete %></a>
    </div>
  </div>
</html>